/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 228px 102px 228px;
}

.head-main h1{
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 500px;
}