/* importing font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 228px 102px 228px;
}

.head-main h1{
    font-size: 2.8em;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav ul li {
    list-style: none;
    font-size: 1.2em;
    font-weight: 500px;
}

.header-middle-section {
    width: 862px;
    height: 225px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 180px;
   
}

.header-middle-section h1 {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 32px;
}

.header-middle-section p {
    font-weight: 400;
    font-size: 1em;
  
}


.explore-btn {
    background-color: orange;
    padding: 20px 25px 20px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 50px;
}

.architect-container {
    display: flex;
    padding: 85px 150px;
    gap: 70px;
}

.list-architect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}


.feature-architect {
    width: 537px;
    height: 304px;
    margin: 0 auto;
    margin-top: 200px;
}

.img-header {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 45px;
}

.feature-architect h2 {
    font-size: 2.9em;
    font-weight: 500;
    color: gray;
}

.second-section {
    display: flex;
    padding-left: 240px;
    padding-right: 240px;
    gap: 54px;
    justify-content: space-between;
}

.second-section-feature h1 {
    font-size: 2.9em;
    font-weight: 700;
    margin-bottom: 24px;
}

.second-section-feature p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 30px;
    color: #727272;
}

.second-section-description h2 {
    font-size: 1.25em;
}

.h1 {
    margin-bottom: 24px;
}

.p {
    margin-bottom: 30px;
    
}

.second-section-description {
    width: 460px;
    height: 100px;
    padding: 30px 30px;
    margin-bottom: 20px;
}

.second-section-description h2 {
    margin-bottom: 10px;
}

.second-section-description p {
    color: #727272;
}

.second-section-img img {
  height: 800px;
}

.experience-btn-cls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-btn{
    background-color: orange;
    padding: 30px 25px 30px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 50px;
}




